<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <be:moduleLayout>

        <be:moduleLayout.menu identifier="BackendUserModuleMenu">
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function1')}" uri="{f:uri.action(controller: 'BackendModule', action: 'startIndexing')}" />
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function2')}" uri="{f:uri.action(controller: 'BackendModule', action: 'indexedContent')}" />
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function3')}" uri="{f:uri.action(controller: 'BackendModule', action: 'indexTableInformation')}" />
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function4')}" uri="{f:uri.action(controller: 'BackendModule', action: 'searchwordStatistics')}" />
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function5')}" uri="{f:uri.action(controller: 'BackendModule', action: 'clearSearchIndex')}" />
            <be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function6')}" uri="{f:uri.action(controller: 'BackendModule', action: 'lastIndexingReport')}" />
        </be:moduleLayout.menu>

        <be:moduleLayout.button.shortcutButton />

        <div id="beuser-main-content">
            <h1>
                <f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:title" />
            </h1>
            <f:render section="content" />
        </div>

    </be:moduleLayout>

</html>
