<f:spaceless>
<ul>
<f:if condition="{pagination.previous}">
    <li>
        <f:link.page additionalParams="{tx_kesearch_pi1: {page: pagination.previous}}" addQueryString="1" class="prev">{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:pagebrowser_prev')}</f:link.page>
    </li>
</f:if>
<f:for each="{pagination.pages}" as="page">
    <li>
        <f:link.page additionalParams="{tx_kesearch_pi1: {page: page}}" addQueryString="1" class="{f:if(condition: '{page} == {pagination.currentPage}', then: 'current')}">{page}</f:link.page></li>
</f:for>
<f:if condition="{pagination.next}">
    <li>
        <f:link.page additionalParams="{tx_kesearch_pi1: {page: pagination.next}}" addQueryString="1" class="next">{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:pagebrowser_next')}</f:link.page>
    </li>
</f:if>
</ul>
</f:spaceless>