<f:layout name="Backend/Default" />

<f:section name="content">
    <div>
        <h2 class="uppercase">
            <f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:function6" />
        </h2>
        <f:if condition="{logEntry.0}">
            <f:then>
                <table class="report">
                    <tr>
                        <td><b>log time</b></td>
                        <td><b>details</b></td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <f:format.date format="Y-m-d" >{logEntry.0.tstamp}</f:format.date><br />
                            <f:format.date format="H:i:s" >{logEntry.0.tstamp}</f:format.date>
                        </td>
                        <td><pre>{logEntry.0.details}</pre></td>
                    </tr>
                </table>

            </f:then>
            <f:else>No report found.</f:else>
        </f:if>
    </div>
</f:section>
