<f:layout name="Backend/Default" />

<f:section name="content">
    <div>
        <h2 class="uppercase">
            <f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xml:searchword_staistics_for_the_last_n_days" arguments="{1: days}">
                Searchword Statistics for the last {days} days
            </f:translate>
        </h2>
    </div>


    <f:if condition="{error}">
        <div class="alert alert-info">{error}</div>
    </f:if>

    <f:for each="{data}" as="language" key="languageId">
        <div style="clear: both;">
            <h3>Language "{languages.{languageId}}"</h3>
            <f:for each="{language}" as="stats" key="type">
                <table class="statistics" style="float:left;">
                    <tr>
                        <th>{type}</th>
                        <th>counter</th>
                    </tr>
                    <f:for each="{stats}" as="stat">
                        <tr>
                            <td>{stat.searchphrase}{stat.word}</td>
                            <td class="times">{stat.num}</td>
                        </tr>
                    </f:for>
                </table>
            </f:for>
        </div>
    </f:for>

</f:section>
